
body
{
    background-color: #323232;
    color: gray;
    font-family: Arial;
}

p 
{
    text-align: justify;
    font-size: 22px;
    font-family: "Roboto";
    font-weight: 400;
    margin:70px;
}

h1
{
    font-size: 32px;
    margin: 32px;
}

h4 
{
    font-size: 32px;
    margin: auto;
    text-align: center;
}

ol 
{
    list-style: upper-roman;
}

.nesting-lvl-1 
{
    list-style-type: circle;
}

.nesting-lvl-2 
{
    list-style-type: "- ";
}
figure
{
    text-align:center;
    font-style:italic;
}
a
{
    color:white;
}
a:hover,a:hover:visited
{
    color:blue;
}
a:visited
{
    color:green;
}
td
{
    text-align:center;
}
table
{
    margin:auto;
    font-size:30px;
}
table:hover
{
    box-shadow:0px 0px 10px 10px lightblue;
}
tr:hover
{
    box-shadow:inset 0px -5px 5px green; 
}
td:hover
{
    box-shadow:inherit 0 5px 5px blue; 
}