
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: antiquewhite;
    font-family: Roboto;
}
h1
{
    position:sticky;
    top:10px;
    background-color:lightblue;
}
.logo
{
    width:400px;
    height:250px;
    position:absolute;
    z-index:-1;
}